<div id="marketing-form-container">
    <div class="text-image ">
        <div class="text-image__container">
            <form name="marketing-form" id="marketing-form">

				<div class="form__group">
				    <label class="form__label is-required" for="name">Ime i prezime</label>
				    <input id="name" type="text" class="form__field" name="name">
				    <span class="form__error" id="name-errors"></span>
				</div>

				<div class="form__group">
				    <label class="form__label is-required" for="email">E-Mail</label>
				    <input id="email" type="text" class="form__field" name="email">
				    <span class="form__error" id="email-errors"></span>
				</div>

				<div class="form__group">
				    <label class="form__label is-required" for="phone">Telefon</label>
				    <input id="phone" type="text" class="form__field" name="phone">
				    <span class="form__error" id="phone-errors"></span>
				</div>

				<div class="form__group">
				    <label class="form__label is-required" for="age1">Starosna dob</label>
				    <div class="radio">
				        <label>
				            <input type="radio" name="age" id="age1" value="1"> Manje od 25
				        </label>
				        &emsp;
				        <label>
				            <input type="radio" name="age" id="age2" value="2"> 25 - 40
				        </label>
				        &emsp;
				        <label>
				            <input type="radio" name="age" id="age3" value="3"> 40 - 60
				        </label>
				        &emsp;
				        <label>
				            <input type="radio" name="age" id="age4" value="4"> Preko 60
				        </label>
				    </div>
				    <span class="form__error" id="age-errors"></span>
				</div>

				<div class="form__group">
				    <label class="form__label is-required" for="phone1">Da li ste klijent Sparkasse banke?</label>
				    <div class="radio">
				        <label>
				            <input type="radio" name="client" id="client1" value="1"> Da
				        </label>
				        &emsp;
				        <label>
				            <input type="radio" name="client" id="client2" value="0"> Ne
				        </label>
				    </div>
				    <span class="form__error" id="client-errors"></span>
				</div>

				<div class="form__group">
				    <label class="form__label" style="text-align:justify;font-size: 1.2rem;">
				        Unosom gore navedenih podataka, potvrđujem da sam saglasan da Sparkasse Bank d.d. BiH čuva, obrađuje i koristi moje lične podatke iz ovog ispunjenog obrasca: ime i prezime/broj telefona/e-mail, a u svrhu učešća u nagradnoj igri koju organizira i provodi Sparkasse Bank dd BiH, kao i promotivnih i prodajnih aktivnosti, direktnog marketinga, analize i istraživanja. Ova saglasnost ne može se koristiti u druge svrhe od navedenih, a dajem je na neograničen vremenski period, do vlastitog opoziva iste.
				    </label>
					<div class="radio">
						<label>
							<input type="radio" name="disclaimer" id="disclaimer1" value="1"> Saglasan sam
						</label>
						&emsp;
						<label>
							<input type="radio" name="disclaimer" id="disclaimer2" value="0"> Nisam saglasan
						</label>
					</div>
				    <span class="form__error" id="disclaimer-errors"></span>
				</div>

				<div class="form__group">
				    <br>
				    <input type="submit" id="form-submit" class="btn site-btn-entree btn--tertiary" value="Prijava" style="display: none;">
				</div>
			</form>

        </div>
    </div>

</div>

<div id="success-message-container" style="display: none">
	<div class="text-image ">
		<div class="text-image__container">
        		<div class="alert alert-success" role="alert">
            			Hvala Vam za učešće u nagradnoj igri.
        		</div>
		</div>
	</div>
</div>

<style>
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.alert {
    padding: 15px;
    margin-bottom: 22px;
    border: 1px solid transparent;
    border-radius: 4px;
}
    #marketing-form .form__label {
        text-align: left;
        width: 100%;
    }
    #marketing-form .form__field {
        width: 100%;
    }
    #marketing-form .form__error {
        width: 100%;
        margin: .3rem 0 0;
    }
    #marketing-form .form__group {
        margin: 0 auto;
        width: 50%;
    }
    @media only screen and (max-width: 500px) {
        #marketing-form .form__group {
            width: 75%;
        }
    }
.radio, #age-errors, #client-errors {text-align:left}
}
</style>

<!--<script src="http://sparemails.dev/js/form-marketing.js"></script>-->

<script>
!function(r){function e(n){if(t[n])return t[n].exports;var i=t[n]={i:n,l:!1,exports:{}};return r[n].call(i.exports,i,i.exports,e),i.l=!0,i.exports}var t={};e.m=r,e.c=t,e.d=function(r,t,n){e.o(r,t)||Object.defineProperty(r,t,{configurable:!1,enumerable:!0,get:n})},e.n=function(r){var t=r&&r.__esModule?function(){return r.default}:function(){return r};return e.d(t,"a",t),t},e.o=function(r,e){return Object.prototype.hasOwnProperty.call(r,e)},e.p="",e(e.s=21)}({21:function(r,e,t){r.exports=t(22)},22:function(r,e){function t(r){var e=!1;return 1!==parseInt(r)?($("#disclaimer-errors").html("Morate se sloÅ¾iti sa disclaimer-om."),e=!0):$("#disclaimer-errors").html(""),e}function n(r){var e=!1;return r?$("#client-errors").html(""):($("#client-errors").html("Odaberite da li ste klijent banke."),e=!0),e}function i(r){var e=!1;return r?$("#age-errors").html(""):($("#age-errors").html("Odaberite starosnu dob."),e=!0),e}function o(r){var e=!1;return r.length<9?($("#phone-errors").html("Unesite ispravan broj telefona."),e=!0):$("#phone-errors").html(""),e}function a(r){var e=!1;return r.length<5?($("#name-errors").html("Unesite vaše ime i prezime."),e=!0):$("#name-errors").html(""),e}function s(r){var e=!1;return m(r)?$("#email-errors").html(""):($("#email-errors").html("Unesite ispravnu email adresu."),e=!0),e}function m(r){return/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(r)}$("[name=disclaimer]").change(function(){$("#disclaimer1").is(":checked")?$("#form-submit").show():$("#form-submit").hide()}),$("#marketing-form").submit(function(r){r.preventDefault();var e=$("#marketing-form").serializeArray(),m={};e.forEach(function(r){m[r.name]=r.value});var l=!1;l|=a(m.name),l|=s(m.email),l|=o(m.phone),l|=i(m.age),l|=n(m.client),(l|=t(m.disclaimer))||($("#form-submit").attr("disabled","disabled"),$.post("https://proxy.diwdev.info/marketing.php",m).done(function(r){if(r.created)$("#marketing-form-container").hide(),$("#success-message-container").show();else for(var e in r.errors)$("#"+e+"-errors").html(r.errors[e].join("<br>"));$("#form-submit").removeAttr("disabled")}).fail(function(r,e,t){$("#form-submit").removeAttr("disabled")}))})}});
</script>